@media (max-width: 767px) {
    .root {
        margin: auto;
        width: 100%;
    }
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: Helvetica;
    margin-bottom: 30px;
}

select{
    font-family: 'FontAwesome 5 Free', 'Helvetica';
}

.neu-logo {
    max-width: 60px !important;
    padding: 8px 0 !important;
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.root {
    width: 100%;
    margin-left: 95px;
    padding-left: 20px;
}

i {
    cursor: pointer;
}

.nav-2 .active a {
    color: black;
    font-weight: 600;
}

.nav-2 a {
    margin-left: 4px;
    width: 100%;
    display: block;
}

.pos-absolute {
    position: absolute;
}

a {
    text-decoration: none;
    color: rgb(100, 94, 94);
}

.nav-2 li{
    padding: 5px 0;
}

.nav-2 {
    max-width: 200px;
    padding: 0;
}

.nav-2 .active {
    border-left: 2px solid black;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-auto{ 
    width: auto;
}

.width-100 {
    width: 100%;
}

.height-auto {
    height: auto;
}

.height-100 {
    height: 100%;
}

.nav-avatar {
    color: #adb4bf !important; 
    font-size: 32px !important;
}

.color-red {
    color: rgb(194, 35, 35) !important;
}

.color-white {
    color: rgb(253, 246, 246) !important;
}

.mw-40 {
    max-width: 40%;
}

.main ul {
    list-style-type: none;
    padding: 0
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.tl-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}


.italics {
    font-style: italic;
}

.lh-1 {
    line-height: 1rem;
}

.fw-300 {
    font-weight: 300 !important;
}

.ta-right {
    text-align: right;
}

.color-gray {
    color: rgb(95, 89, 89);
}

.color-green {
    color: rgb(18, 208, 18);  
}

.vh-100 {
    height: 100vh;
}

.kanbas-red-btn {
    color: white;
    background-color: rgb(203, 10, 10);
}

.kanbas-btn-gray {
    color: rgb(131, 128, 128);
    background-color: rgb(243, 235, 235);
    border: 1px solid rgb(181, 177, 177);
}

.kanbas-btn-gray:hover {
    color: rgb(131, 128, 128);;
    background-color: rgb(225, 225, 225);
}

.kanbas-red-btn:hover {
    color: white;
    background-color: rgb(207, 14, 14);
    filter: brightness(90%);
}

.pointer {
    cursor: pointer;
}

.heading {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 15px 0;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
}

.hover-underline:hover {
    text-decoration: underline;
}

.inline {
    display: inline;
}

.truncate-text {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}


.black-text {
    color: black !important;
}


.fit-content {
    width: fit-content;
}

.sidebar {
    background-color: black;
    width: 95px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 5px;
    font-weight: 200;
}

.sidebar ul {
    padding-left: 0 !important;
}

.sidebar li{
    text-align: center;
    cursor: pointer;
    padding: 7px 0;
}

.sidebar a {
    color : white;
    font-size: 0.8rem;
}

.sidebar i {
    color : rgb(216, 33, 33);
    display: block;
    font-size: 1.5rem;
}

.kanbas-tabs li .nav-link {
    color: rgb(207, 14, 14);
}

.kanbas-tabs .nav-link.active {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.sidebar .active {
    background-color: white;
}

.sidebar .active a {
    color: rgb(215, 11, 11);
}

.xs-nav {
    background-color: black;
    padding: 0 !important;
}

.xs-nav div {
    width: 100%;
    height: 100%;
}

#kanbas-navigation i, #secondary-navigation i {
    font-size: 25px;
    margin-right: 20px;
}


#kanbas-navigation ul a, #secondary-navigation ul a {
    text-decoration: none;
}

#kanbas-navigation ul li, #secondary-navigation ul li {
    display: inline-block;
    padding: 10px 10px 0;
    width: 100%;
    text-align: left;
}

#kanbas-navigation ul, #secondary-navigation ul {
    width: 100%;
    list-style: none;
    background-color: white;
    margin-bottom: 0;
    padding: 0 0 20px 0;
}

.breadcrumb {
    margin: 12px 0 10px 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 200;
}

.edit-page label {
    font-size: 16px;
}

.edit-ass-form div {
    margin-top: 5px;
}

.edit-ass-form h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.edit-ass-form .sub-type-box {
    border: 1px solid rgb(198, 195, 195);
    width: 50%;
    margin-left: 15px;
    border-radius: 1%;
    padding: 10px;
}

.edit-ass-form .date-picker {
    border: 1px solid rgb(198, 195, 195);
    color :gray;
    padding: 5px;
    border-radius: 3px;
}

.edit-ass-form .assign-footer {
    width: 100%;
    background-color: rgb(198, 195, 195);
    text-align: center;
    border: 1px solif gray;
    font-size: 20px;
    cursor: pointer;
}

.btn-border {
    border: 1px solid rgb(185, 181, 181);
}

.btn-border:hover {
    border: 1px solid rgb(185, 181, 181);
    filter: brightness(90%);
}